:root {
    --color-base-text: black;
    --color-primary: #3390ec;
    --color-primary-shade: #2f84d9;
    --color-primary-shade-darker: #2b79c6;
    --color-primary-dark: #0a3a69;
    --color-primary-dark-transparent: rgba(10, 58, 105, 0.35);
    --color-light: white;
    --color-placeholder: #a2acb4;
    --color-placeholder-second: #d7dfec;
    --color-placeholder-light: #e8f3ff;
    --color-error-lighten: #fff3f3;
    --color-error-light: #ffe8e8;
    --color-error-medium: #f15959;
    --color-error: #ec3333;
    --color-error-dark: #af1212;
}